*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
ul {
    padding-left: 0;
}
ul li{
    list-style:none;
}
.container{
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
}
.modal{
    display:none;
}
.modal.open {
    display:block;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
}
.modal .wrap{
    background-color: bisque;
    width: 20vw;
    top: 20%;
    padding: 1%;
    position: relative;
    margin: 0 auto;
}
span.modal-close {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
}

/* Accordion */
.accordion-box{
    display:flex;
}
.accordion {
    width: 200px;
    font-family: sans-serif;
    text-align: center;
    margin-right: 2%;
}
.accordion .sub{
    display:none;
}
span.title {
    display: block;
   
    padding: 10px;
    font-weight: 600;
    cursor:pointer;
}
ul.sub {
    background-color: #c4c4c4;
}
ul.sub li {
    padding: 4px 0;
    font-size: 14px;
}
.title-item{
    background-color: coral;
    margin-bottom:2px;
    transition:all .3s ease;
}
.title-item:hover{
    background-color:#d67450;
}
.title-item:last-child{
    margin-bottom: 0;
}
ul.sub.open {
    display: block;
}